* {
  margin: 0;
  font-family: sans-serif;
}
.fixed {
  width: 100%;
  height: 40px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  position: fixed;
  font-size: 1em;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 13% 40% 7%;
  grid-template-areas: "home band tour contact more main search";
}
.fixed :hover {
  background: #999;
}
#f-home,
#f-band,
#f-tour,
#f-more,
#f-contact,
#f-search {
  height: 40px;
  color: #fff;
}

#f-home {
  grid-area: home;
  display: flex;
  justify-content: center;
  align-items: center;
}
#f-band {
  grid-area: band;  
  display: flex;
  justify-content: center;
  align-items: center;
}
#f-tour {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: tour;
}
#f-contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  align-items: center;
}
#f-more {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: more;
}
#f-main:hover {
  height: 10px;
}
#f-main {
  color: #000;
  visibility: hidden;
}
#f-search:hover {
  background: red;
}
#f-search {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed a {
  text-decoration: none;
}
.fixed details {
  display: inline;
  text-align: center;
  cursor: pointer;
}
.fixed summary {
  height: 40px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed details p {
  padding: 15px 10px;
  background: #f9f9f9;
  color: #000;
}

#home {
  width: 100%;
  height: 600px;
  background-image: url(photos/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0 0 0;
}
#home p {
  margin: 10px 0px 30px;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #f9f9f9;
}
#home h3 {
  font-size: 2em;
  color: #f9f9f9;
  text-transform: uppercase;
}

#band {
  width: 100%;
  height: 630px;
}
#band .text {
  width: 58%;
  padding: 50px 0 0 0;
  margin: 0 auto 50px;
  font-size: 15px;
  line-height: 1.6em;
}
#band .text h2 {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 10px;
}
#band .text .one {
  text-align: center;
  color: rgb(143, 140, 140);
  font-style: italic;
  text-transform: capitalize;
  padding: 10px;
}
#band .text .one {
  padding: 10px;
}
#band .img {
  width: 100%;
}
#band .img .img {
  width: 100%;
  display: flex;
  justify-content: center;
}
#band .img .name {
  width: 100%;
  display: flex;
  margin: 20px 0 0 0;
  justify-content: center;
}
#band .img img {
  width: 150px;
  padding: 40px 60px 0;
}
#band .img p {
  padding: 0px 120px;
}
#tour {
  width: 100%;
  height: 800px;
  background: #000;
  color: #fff;
}
#tour .text {
  width: 100%;
  text-align: center;
}
#tour .text h2 {
  padding: 70px 0 0 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: lighter;
}
#tour .text p {
  padding: 20px 0 40px;
  text-transform: capitalize;
  font-style: italic;
  color: rgb(143, 140, 140);
}
#tour .months {
  width: 59%;
  margin: 0 auto 30px;
  color: rgb(83, 83, 83);
  background: #fff;
}
#tour .months p {
  padding: 10px;
  display: inline-block;
}
#tour .months span {
  background: red;
  color: #fff;
  padding: 2px 10px;
}
#tour .months .october {
  margin: 0 18px 0 0;
}
#tour .months .november {
  margin: 0 600px 0 0;
}
#tour .months .n {
  display: inline-block;
  width: 25px;
  padding: 3px 0 0 0;
  height: 20px;
  background: #000;
  border-radius: 50%;
  text-align: center;
}
#tour .img {
  width: 100%;
  text-align: center;
}
#tour .img .image img:hover {
  filter: grayscale(70%);
}
#tour .img img {
  width: 250px;
  height: 185px;
  margin: 0 10px;
}
#tour .img .bg .u-photo {
  display: inline-block;
  text-align: start;
  margin: 0 10px;
  width: 250px;
  background: #fff;
  color: #000;
}
#tour .img .bg .u-photo .date {
  color: rgb(83, 83, 83);
  padding: 20px 5px 20px 15px;
}
#tour .img .bg .u-photo h4 {
  padding: 15px 5px 0 15px;
}
#tour .img .bg .u-photo p {
  padding: 0 5px 0 15px;
}
#tour .img .bg .u-photo button {
  color: #fff;
  background: #000;
  padding: 10px;
  margin: 15px;
  font-size: 1.1em;
  border: none;
}
#contact {
  width: 100%;
  height: 520px;
  text-align: center;
}
#contact .text {
  padding: 50px 0 0 0;
  width: 100%;
}
#contact .text h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  padding: 0 0 20px;
}
#contact .text p {
  font-style: italic;
  color: rgb(83, 83, 83);
  text-transform: capitalize;
}
#contact .note {
  width: 60%;
  margin: 50px auto 0;
  text-align: start;
  display: grid;
  grid-template-columns: 50% 25% 15% 10%;
  grid-template-areas:
    "phone name email email"
    "mail message message message"
    ". . . submit";
}
#contact .note p {
  display: inline;
}
#contact .note input {
  height: 30px;
}
#phone {
  grid-area: phone;
}
#name {
  grid-area: name;
  margin: 0 0 10px;
}
#email {
  margin: 0 0 10px;
  grid-area: email;
}
#mail {
  margin: 15px 0 0 0;
  grid-area: mail;
}
#message {
  margin: 10px 0 0 0;
  grid-area: message;
}
#submit {
  margin: 15px 0 0 0;
  width: 75px;
  padding: 10px 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10%;
  grid-area: submit;
}
#contact .social {
  margin: 100px 0 0 0;
  width: 100%;
  height: 140px;
  background: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .social a {
  color: #222;
  margin: 0 35px;
}
@media screen and (max-width: 1000px) {
  .fixed {
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    position: fixed;
    font-size: 1em;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 20% 10% 10%;
    grid-template-areas: "home band tour contact more main search";
  }
}
